.ValidatorContainer {
  margin: 100px 500px;
}

.row {
  margin-top: 20px !important;
}

.bigCard {
  width: 100px;
  max-width: 100%;
}

.inputCard {
  position: relative;
  bottom: 32px;
  left: 90%;
  width: 30px;
  max-width: 100%;
}

.isInvalid {
  border: 2px solid red !important;
}

.isValid {
  border: 2px solid green !important;
}
